* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
}

.main-container{
    max-width: 1440px;
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border: 1px solid #524d4d;
    padding: 20px;
    background-color: #000;
    z-index: 2;
    align-items: center;
}

.logo h1 {
    font-size: 2.2rem;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

.menu li a {
    display: block;
    padding: 0 18px;
    font-size: 1.5rem;
}

.menu li a:hover {
    text-decoration: underline;
}

.lines {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.line1 {
    position: relative;
    width: 33px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.navigation input:checked~.menu {
    right: 0;
}

@media (max-width: 1024px) {
    .logo h1 {
        font-size: 1.9rem;
    }

    .header {
        padding: 15px;
    }

    .menu li a {
        padding: 0 16px;
        font-size: 1.4rem;
    }
}

@media(max-width: 768px) {
    .logo h1 {
        font-size: 1.7rem;
    }

    .header {
        padding: 10px;
    }

    .menu li a {
        padding: 0 10px;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 550px) {

    .logo h1 {
        font-size: 1.6rem;
    }

    .header {
        padding: 10px 20px;
    }

    .line1 {
        display: block;
    }

    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        width: 140px;
        height: 100%;
        margin-top: 9%;
        transition: 0.5s;
    }

    .active {
        margin-top: 15px;
    }

    .menu li {
        width: 100%;
    }

    .menu li a {
        padding: 20px;
        font-size: 24px;
    }
}

@media (max-width: 425px) {

    .menu {
        margin-top: 12%;
    }
}

@media (max-width: 375px) {

    .menu {
        margin-top: 13%;
    }
}

@media (max-width: 320px) {

    .menu {
        margin-top: 16%;
    }
}

main {
    margin-top: 65px;
    width: 100%;
}

.section1 {
    padding: 7.7%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #524d4d;
    background-color: #000;
}

.home {
    width: 47%;
    line-height: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting {
    color: #ffbd39;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

.myName {
    font-size: 65px;
    margin-bottom: 20px;
    word-spacing: 10px;
}

.highlight {
    color: #f5ab17;
}

.profession {
    font-size: 65px;
    word-spacing: 8px;
}

.home h1 {
    color: white;
    line-height: 60px;
}

.ProfileImage {
    border: 5px solid green;
    border-radius: 50%;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin: auto 20px auto 0;
}

.ProfileImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 1350px) {

    .home {
        line-height: 30px;
    }

    .section1 {
        padding: 5%;
    }

    .greeting {
        font-size: 1.2rem;
    }

    .myName {
        margin-bottom: 5px;
    }

    .profession,
    .myName {
        font-size: 3rem;
    }
}

@media(max-width: 1000px) {

    main {
        margin-top: 50px;
    }

    .home {
        width: 55%;
        line-height: 27px;
    }

    .greeting {
        font-size: 1rem;
    }

    .myName {
        margin-bottom: 1px;
    }

    .profession,
    .myName {
        font-size: 2.5rem;
    }

    .ProfileImage {
        height: 270px;
        width: 270px;
    }
}

@media(max-width: 742px) {
    .myName {
        font-size: 2.2rem;
    }

    .profession {
        font-size: 2.4rem;
    }
}

@media(max-width: 720px) {

    .ProfileImage {
        width: 250px;
        height: 240px;
    }

    .myName,
    .profession {
        font-size: 1.9rem;
    }
}

@media(max-width: 622px) {

    .profession,
    .myName {
        font-size: 1.5rem;
    }
}

@media(max-width: 555px) {
    .section1 {
        flex-direction: column;
    }

    .home {
        width: 100%;
        order: 2;
    }

    .profession,
    .myName {
        font-size: 2.4rem;
    }

    .ProfileImage {
        order: 1;
        margin: 0 auto;
    }
}

@media(max-width: 399px) {

    .home {
        line-height: 20px;
    }

    .profession,
    .myName {
        font-size: 2rem;
    }
}

@media(max-width: 348px) {

    .home {
        line-height: 16px;
    }

    .myName {
        font-size: 1.5rem;
    }

    .profession {
        font-size: 1.7rem;
    }
}

#About {
    display: flex;
    padding-top: 65px;
    border: 1px solid #524d4d;
    background-color: #000;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8% 8% 8%;
    width: 60%;
}

.content h1 {
    letter-spacing: 2px;
    font-size: 40px;
    line-height: 80px;
    margin-bottom: 20px;
}

.content p {
    font-size: 30px;
    line-height: 40px;
}

.AnimatedImage {
    width: 40%;
}

.AnimatedImage img {
    height: 550px;
    margin-top: 30px;
    width: 100%;
}

.social-link {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}


.social-link li a i {
    font-size: 2.4rem;
    color: aqua;
}

#buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

#buttons button {
    padding: 20px 20px;
    border: 2px solid #302f2f;
    background-color: #000;
}

#buttons button a {
    text-decoration: none;
    font-size: 20px;
}

@media(max-width: 1200px) {
    .content h1 {
        font-size: 30px;
        line-height: 60px;
    }

    .content p {
        font-size: 22px;
        line-height: 35px;
    }

    .AnimatedImage img {
        height: 460px;
        margin-top: 30px;
        width: 100%;
    }

    #buttons button {
        padding: 10px 15px;
    }
}

@media(max-width: 900px) {

    .AnimatedImage img {
        height: 400px;
    }
}

@media(max-width: 768px) {

    .content h1 {
        font-size: 24px;
        line-height: 50px;
    }

    .content p {
        font-size: 16px;
        line-height: 32px;
    }

    .AnimatedImage {
        width: 50%;
    }

    .AnimatedImage img {
        height: 380px;
    }

    .social-link {
        gap: 17px;
        margin-top: 10px;
    }

    .social-link li a i {
        font-size: 2rem;
    }

    #buttons {
        margin-top: 10px;
    }

    #buttons button {
        padding: 10px 15px;
    }

    #buttons button a {
        font-size: 16px;
    }
}

@media(max-width: 720px) {

    .AnimatedImage img {
        height: 350px;
    }

    #buttons button a {
        font-size: 14px;
    }
}

@media(max-width: 686px) {

    .content h1 {
        font-size: 23px;
    }
}

@media(max-width: 662px) {

    .content h1 {
        font-size: 21px;
        line-height: 20px;
    }

    #buttons button a {
        font-size: 13px;
    }
}

@media(max-width: 615px) {

    .content h1 {
        font-size: 20px;
    }

    #buttons button {
        padding: 13px 18px;
    }

    #buttons button a {
        font-size: 12px;
    }
}

@media(max-width: 590px) {

    #About {
        flex-direction: column;
    }

    .content {
        width: 100%;
    }

    .content h1 {
        font-size: 30px;
    }

    .content p {
        font-size: 19px;
    }

    .AnimatedImage {
        width: 80%;
        margin: 0 auto;
    }

    .AnimatedImage img {
        height: 400px;
    }
}

@media(max-width: 505px) {

    .AnimatedImage img {
        height: 350px;
    }
}

@media(max-width: 430px) {

    .AnimatedImage img {
        height: 300px;
    }
}

@media(max-width: 389px) {
    .content h1 {
        font-size: 23px;
    }

    .AnimatedImage img {
        height: 280px;
    }
}

@media(max-width: 320px) {

    .content h1 {
        font-size: 23px;
        line-height: 45px;
    }

    .content p {
        font-size: 20px;
    }

    #buttons button {
        padding: 10px 15px;
    }

    #buttons button a {
        font-size: 14px;
    }
}

@media(max-width: 312px) {

    .content h1 {
        font-size: 21px;
    }
}

#Skills {
    padding: 80px 0 60px 0;
    border: 1px solid #524d4d;
    background-color: #000;
}

.heading {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

#Skills li h1 {
    text-align: center;
    height: 100%;
}

#Skills ul {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0px;

}

#Skills li {
    height: 250px;
    transition: transform 0.7s ease;
}

#Skills li img {
    height: 100%;
    width: 100%;
}

#Skills li:hover {
    transform: scale(1.2);
    z-index: 1;
}

@media(max-width: 1024px) {
    #Skills {
        padding: 50px 0 30px 0;
    }

    #Skills ul {
        padding: 80px 0px;
    }
}

@media(max-width: 890px) {
    #Skills li {
        width: 28%;
    }
}

@media(max-width: 785px) {

    #Skills {
        padding: 40px 0 20px 0;
    }

    #Skills ul {
        padding: 50px 0;
    }

    #Skills li img {
        height: 200px;
    }
}

@media(max-width: 640px) {

    #Skills li img {
        height: 180px;
    }
}

@media(max-width: 620px) {

    #Skills {
        padding: 40px 0 0 0;
    }

    #Skills ul {
        flex-direction: column;
        padding: 70px 0 20px 0;
        align-items: center;
        gap: 20px;
    }

    #Skills li {
        height: 180px;
        width: 80%;
    }

    #Skills li img {
        width: 40%;
    }

    #Skills ul li {
        display: flex;
    }

    #Skills li h1 {
        display: flex;
        align-items: center;
    }

    #Skills li img {
        height: 180px;
    }
}

@media(max-width: 500px) {
    #Skills li img {
        width: 45%;
    }
}

@media(max-width: 420px) {
    #Skills li img {
        width: 50%;
    }
}

@media(max-width: 375px) {

    #Skills {
        padding: 40px 0 0 0;
    }

    #Skills li img {
        width: 55%;
    }
}

@media(max-width: 340px) {

    #Skills li h1 {
        text-align: center;
        font-size: 20px;
    }
}

@media(max-width: 320px) {
    #Skills {
        padding: 30px 0 0 0;
    }

    #Skills ul {
        padding: 60px 0 0 0;
    }
}

#Projects {
    padding-top: 10px;
    border: 1px solid #524d4d;
    background-color: #000;
}

.ProjectDetail {
    display: flex;
    justify-content: space-evenly;
}

.Project1 {
    margin: 50px 0;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    border: 2px solid #302f2f;
}

.Project1 h4 {
    line-height: 60px;
    font-size: 25px;
}

.Project1 h4 i {
    color: orangered;
    font-size: 30px;
}

.Project1 p {
    font-size: 26px;
    line-height: 35px;
}

.Project1 button {
    margin-top: 15px;
    padding: 5px 20px;
    border-radius: 8px;
    border: 2px solid #302f2f;
    background-color: #000;
}

.Project1 button a {
    text-decoration: none;
    font-size: 21px;
}

.Project1 button:hover {
    box-shadow: 2px 3px 4px rgb(102, 136, 136);
}

@media(max-width: 1024px) {

    .Project1 {
        width: 35%;
    }

    .Project1 p {
        font-size: 24px;
        line-height: 30px;
    }
}

@media(max-width: 768px) {
    .ProjectDetail {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .Project1 {
        width: 100%;
        margin: 20px 0;
    }
    .Project1 p {
        font-size: 18px;
        line-height: 25px;
    }

    .Project1 button {
        padding: 5px 15px;
    }

    .Project1 button a {
        font-size: 17px;
    }
}



#footer {
    border: 1px solid #302f2f;
    padding: 30px;
    background-color: #252525;
    width: 100%;
}

#footer h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

#footer p {
    font-size: 1.4em;
    line-height: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.child1 {
    margin-top: 40px;
}

.child1 h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.child1 ul li {
    line-height: 40px;
    font-size: 20px;
}

.child1 ul li a i {
    font-size: 28px;
}

.child2 h3 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    line-height: 60px;
}

label {
    font-size: 20px;
}

input,
textarea {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    margin-left: 20px;
    color: #000;
}

textarea {
    margin-top: 20px;
}

table tr td button {
    padding: 10px 35px;
    font-size: 20px;
    margin-left: 30%;
    border: 1px solid #302f2f;
    background-color: #000;
}

@media(max-width: 959px) {
    #footer h1 {
        margin-bottom: 6px;
    }

    #footer p {
        font-size: 0.8em;
        line-height: 20px;
    }

    .footer-container {
        padding: 7px;
    }

    .child1 h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .child1 ul li {
        line-height: 35px;
        font-size: 18px;
    }

    form {
        line-height: 40px;
    }

    input,
    textarea {
        height: 30px;
        width: 280px;
        margin-left: 0px;
    }

    textarea {
        margin-top: 8px;
    }

    table tr td button {
        padding: 8px 25px;
        font-size: 18px;
    }
}

@media(max-width: 672px) {

    .footer-container {
        flex-direction: column;
    }

    .child1 {
        margin-top: 40px;
        order: 2;
    }

    .child1 h3 {
        font-size: 31px;
        margin-bottom: 15px;
    }

    .child1 ul li {
        line-height: 40px;
    }

    .child2 {
        order: 1;
    }

    .child2 h3 {
        font-size: 40px;
    }

    label {
        font-size: 18px;
    }

    input,
    textarea {
        width: 240px;
    }

    table tr td button {
        font-size: 16px;
    }
}

@media(max-width: 360px) {

    #footer {
        padding: 20px 10px;
    }

    .child1 h3 {
        font-size: 29px;
    }

    .child2 h3 {
        font-size: 38px;
    }

    label {
        font-size: 15px;
    }

    input,
    textarea {
        width: 220px;
    }
}

@media(max-width: 300px) {

    input,
    textarea {
        width: 150px;
    }
}